:root {
  --color-text: #0d0a02;
  --color-background: #fcf9ee;
  --color-primary: #fef3c7;
  --color-secondary: #adc4bc;
  --color-accent: #b58cb3;
  --color-primary-vivid: #fcdf69;
  --color-accent-vivid: #9c6399;
  --color-error: #ffb4ab;

  --font-heading: "Roboto Serif", serif;
  --font-text: "Roboto Slab", serif;
  --font-base: "Roboto", system-ui, sans-serif;

  --shadow-low: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --shadow-md: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font: inherit;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  padding-top: 3rem;
  color: var(--color-text);
  font-family: var(--font-base);
  background-color: var();
  line-height: 1.5;
  background-color: var(--color-background);
}

button {
  color: inherit;
  border: 0;
  background-color: initial;
  cursor: pointer;
  display: block;
}

h1,
h2 {
  font-family: var(--font-heading);
  line-height: 1.1;
}

h1 {
  text-align: center;
  font-weight: 300;
  font-size: 3rem;
  margin-inline: auto;
  margin-bottom: 3rem;
  width: fit-content;
  padding: 0.25em 1.2em;
  background-color: var(--color-primary);
  border-radius: 0.5rem;
  font-family: "Roboto Serif";
  font-weight: 200;
}

.btn {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-radius: 0.5rem;
  padding-block: 0.5em;
}

.card {
  aspect-ratio: 6 / 9;
  background-color: color-mix(
    in oklab,
    var(--color-text) 2%,
    var(--color-background)
  );
  border-color: color-mix(in oklab, var(--color-text), transparent 90%);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.5rem;
  --pad-block: 1rem;
  --pad-inline: 1.25rem;
  padding: var(--pad-block) var(--pad-inline);
}

/* --- --- --- Library --- --- --- */
.library {
  width: min(1000px, calc(100% - 3rem));
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  gap: 1.5rem;

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* --- --- --- Book --- --- --- */
.book {
  text-align: center;
  transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  position: relative;

  &:hover {
    box-shadow: var(--shadow-low);
    transform: translateY(-1%);
  }

  & > div {
    flex: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--font-text);
  }

  & h2 {
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }

  & span {
    font-size: 0.75rem;
    margin-top: 2rem;
    color: color-mix(in oklab, var(--color-text) 90%, var(--color-background));
  }

  .btn {
    font-size: 0.75rem;
    width: 55%;
    transition: background-color 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .btn:not(.book-read) {
    color: color-mix(in oklab, var(--color-accent), var(--color-text) 70%);
    background-color: color-mix(
      in oklab,
      var(--color-accent),
      var(--color-background) 25%
    );

    &:hover {
      background-color: color-mix(
        in oklab,
        var(--color-accent),
        var(--color-background) 15%
      );
    }
  }

  .btn.book-read {
    color: color-mix(in oklab, var(--color-background), var(--color-text));
    background-color: color-mix(in oklab, var(--color-text), transparent 95%);

    &:hover {
      color: color-mix(in oklab, var(--color-accent), var(--color-text) 60%);
      background-color: color-mix(
        in oklab,
        var(--color-accent),
        var(--color-background) 65%
      );
    }
  }

  .remove-btn {
    position: absolute;
    top: -3%;
    right: -4%;
    scale: 0;
  }

  &:hover .remove-btn {
    scale: 1.1;
    box-shadow: var(--shadow-low);

    &:hover {
      scale: 1.3;
      box-shadow: var(--shadow-md);
    }
  }
}

/* --- --- --- Open Modal Button --- --- --- */
.open-btn {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  & span {
    background-color: var(--color-primary-vivid);
    color: color-mix(in oklab, var(--color-text), transparent 15%);
    border-radius: 99rem;
    width: 45%;
    margin: 0;
    font-size: 2rem;
    font-weight: 800;
    transition: all 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
    padding-block: 0.1em;
    letter-spacing: 0;
  }

  &:hover .btn {
    transform: scale(105%);
    box-shadow: var(--shadow-md);
  }
}

/* --- --- --- Add Book Form / Modal --- --- --- */
.add-book-modal {
  width: 18rem;
  margin: auto;
  box-shadow: var(--shadow-md);

  & form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  & input {
    display: block;
    background-color: inherit;
    margin-bottom: 1rem;
    width: 100%;
    border: 2px solid;
    border-color: color-mix(in oklab, var(--color-text), transparent 80%);
    border-radius: 5px;
    padding: 0.5em 1em;
    color: var(--color-text);

    &::placeholder {
      color: color-mix(in oklab, var(--color-text), transparent 40%);
      font-size: 0.9rem;
    }

    &:focus {
      outline-color: var(--color-accent-vivid);
      background-color: color-mix(
        in oklab,
        var(--color-accent),
        transparent 70%
      );
      outline-style: solid;
    }
  }

  &::backdrop {
    background: var(--color-background);
    opacity: 90%;
  }

  .add-btn {
    font-size: 0.75rem;
    background-color: var(--color-secondary);
    color: color-mix(in oklab, var(--color-secondary), var(--color-text) 70%);
    width: 40%;
    margin-inline: auto;
    transition: background-color 250ms cubic-bezier(0.165, 0.84, 0.44, 1);

    &:hover {
      background-color: color-mix(
        in oklab,
        var(--color-secondary),
        var(--color-text) 5%
      );
    }
  }

  .close-btn {
    position: absolute;
    top: calc(var(--pad-block) / 2);
    right: calc(var(--pad-inline) / 2);
    z-index: 99;
  }
}

.remove-btn {
  color: color-mix(in oklab, var(--color-error), var(--color-text) 70%);
  background-color: var(--color-error);
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: 800;
  line-height: 0;
  padding: 0.5em;
  display: grid;
  place-items: center;
  z-index: 10;
  transition: all 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #fdfaf2;
    --color-background: #110e03;
    --color-primary: #372c01;
    --color-secondary: #3c534b;
    --color-accent: #734a71;
    --color-primary-vivid: #c8a104;
    --color-accent-vivid: #9c6399;
    --color-error: hsl(356, 49%, 37%);
  }
}
